Number of ships to display each page 
<select (ngModelChange)="onSizeChange($event)" [(ngModel)]="pageSize" >
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="50">50</option>
</select>

<br/>

The list of Ships are:<br/>

<ul>
    <li *ngFor="let ship of ships">
        <a routerLink="{{ship._id}}">{{ship.depth}} - {{ship.coordinates}}</a>
    </li>
</ul>

<br/>

<button (click)="onPrevious()" [disabled]="pageNumber===1">Previous</button>
<button (click)="onNext()">Next</button>