This title is {{title}} <br/>
<ul>
  <li *ngFor="let name of people">{{name}}</li>
</ul>

<button (click)="onBtnClick()">Click</button>
<br/>
<br/>
<select>
  <option *ngFor="let student of students">{{student.name}}</option>
</select>

<br/>
<br/>

{{123 | currency:"⏧"}}
<br/>
{{today | date:"dd-MMM-yyyy (hh:mm:ss.SSS"}}
<br/>

<ul>
  <li *ngFor="let student of students">{{student | json}}</li>
</ul>

{{"Maharishi International University" | uppercase}}

<br/>

{{1223.456789 | number:"5.0-10"}}

